service: whatsapppush
frameworkVersion: "2"

provider:
  name: aws
  runtime: nodejs14.x
  region: eu-central-1
  stage: dev
  environment:
    tableName: ${self:custom.tableName}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: "*"

plugins:
  - serverless-webpack

package:
  individually: true

custom:
  tableName: Templates

functions:
  CreateTamplate:
    handler: lambdas/endpoints/CreateTemplates.handler
    events:
      - http:
          path: /templates
          method: post

resources:
  Resources:
    MyDynamoDBTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.tableName}
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: template_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
          - AttributeName: template_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
